@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Inconsolata&family=Inter&family=Raleway&family=Source+Sans+Pro&display=swap');

:root{
    --lightGray: #e2e5e5;
    --dark: #00000c;
    --lightBlack: #0f0f0f;
    --lightGreen: #7bfff4;
    --miniPurple: #bba2ff;
    --lightPurple: #7d3ae0;
    --purple: #9861e9;
    --darkPurple: #4717a0;
    --superDarkPurple: #0f0c29;
    --red: #ff1c3a;
    --lightRed: #ff3a54;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
    color: white;
}

*::-webkit-scrollbar{
    background-color: black;
    width: 1rem;
}

*::-webkit-scrollbar-thumb {
    background: var(--lightBlack);
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    border-top: 2px solid var(--lightBlack);
    background-color: rgb(10, 5, 27);
}

.space-down{
    margin-bottom: 1.5rem;
}

/* Scroll */
[data-scroll]{
    opacity: 0;
    transition: .5s;
}

[data-scroll="left"]{
    transform: translate3d(-50px, 0, 0);
}

[data-scroll="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-scroll].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}