:root{
    --lightGray: #e2e5e5;
    --dark: #00000c;
    --lightBlack: #0f0f0f;
    --lightGreen: #7bfff4;
    --miniPurple: #bba2ff;
    --lightPurple: #7d3ae0;
    --purple: #9861e9;
    --darkPurple: #4717a0;
    --superDarkPurple: #0f0c29;
    --red: #ff1c3a;
    --lightRed: #ff3a54;
}